.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 360px;
}

.btn_wrap {
  margin-top: 30px;
  width: 100%;
}